<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAOwgnKCe2TVrgIJ6bvBieqtLZXrtCtWBs</string>
	<key>GCM_SENDER_ID</key>
	<string>1069895383899</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tammeir.group.soberSteps.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>sober-steps-fire</string>
	<key>STORAGE_BUCKET</key>
	<string>sober-steps-fire.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1069895383899:ios:d7e9f80901a192d3a3387e</string>
</dict>
</plist>